body {
    /* Background Image Formating*/
    background-color: bisque;
    background-image: url('images/moonBackground.jpg');
    background-size: cover; 
    background-repeat: repeat-y;
    background-attachment: scroll;
    /*opacity: 0.5;*/
    overflow-y: scroll;
}

h1 {
    /*Color*/
    color: aliceblue;
}
h2 {
    /*Color*/
    color: rgb(152, 207, 255);
}
p {
    /*Color*/
    color: rgb(152, 207, 255);
}

a:link {
    /*Color and styling when not clicked or hovered*/
    color: blue;
    text-decoration: none;
    font-weight: bold;
}


a:visited {
    /*Color and styling after clicked*/
    color: purple;
    text-decoration: none;
}


a:hover {    
    /*Color and styling during hover*/
    color: red;
    text-decoration: underline;
}
